* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover, #logout:hover {
  color: #0d6efd;
}

.header .nav button {
  color: beige;
  background-color: black;
}

.header {
  background-color: black;
  padding: 25px 50px;
  margin-bottom: 10px;
}

.nav-link {
  color: beige;
}

.header h1 {
  border: 1px solid beige;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(211, 211, 211, 0.719);
  background-color: beige;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
}

article {
  margin: 10px 25px;
  border: 2px solid black;
  border-radius: 7px;
}

.post-header {
  background-color: black;
  color: lightgrey;
}

.post-header:hover {
  color: beige;
}

.content {
  background-color: beige;
}

.form-border {
  margin: 10px 25px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px;
}

.btn-login, .btn-signup, .btn-submit-comment, .btn-create-post, .btn-add-post, .btn-update-post, .btn-delete-post {
  border-radius: 7px;
  background-color: grey;
  padding: 5px;
  color: #fff;
}

.add-post {
  margin: 5px 80px;
}

.comments {
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 7px;
}

.comment-form {
  margin: 5px 20px;
}

.textarea {
  height: 100px;
}

.comment-submit {
  margin: 0 10px;
}

.text {
  background-color: beige;
}

.edit-post {
  padding: 10px;
}